<div  >
<h1 style="text-align: center;font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >Best Offers</h1>
<p style="text-align: center;font-weight: bold;font-size: 20px;color: rgb(141, 141, 141);">best value trips</p>

<!--background-image: url('assets/back/worldmap.jpg'); -->
<div class="row" style="margin-right:100px;width: 100%;  display: flex;justify-content: center;">
  <div class="col-3"  [routerLink]="['/promo',pac[0].id]" id="pack"  >

    <div class="card shadow " style="width: 18rem; margin-left: 45px;margin-top: 20px ;position: relative;;">
  <img [src]="pac[0].photo" class="card-img-top" style="max-width: 400px; height: 300px; object-fit: cover; border-radius: 8px;" alt="...">
  <div class="card-body">
    <p style="font-weight: bold; position: absolute;color: white;top: 230px; font-family: 'Segoe UI';font-size: 30px; text-shadow: 2px 2px 5px black;"> {{pac[0].libelle}} </p>
    <p  class="badge bg-success" > -{{pac[0].poucentagePromo}}%</p><br>
    <div  >  
      <span style="font-size: 25px;font-weight: bold; color: rgb(20, 89, 168);"> {{prixApres(pac[0].prix,pac[0].poucentagePromo)}} DT </span>  <span style="text-decoration:line-through;color: rgb(95, 95, 95) ;" > {{pac[0].prix}} </span>   
      </div> 
    <br>
    <i class="fas fa-plane-departure"></i> date depart: {{pac[0].dateDep | date}}
   <!-- 

    
    
    <a [routerLink]="['/promo',t.id]" class="card-link"><button type="button" class="btn-hover color-6">Details</button></a>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>


 
    
    
  
</div>




</div>
<!--2eme-->
<div class="col-3"  [routerLink]="['/promo',pac[1].id]" id="pack"  >

  <div class="card shadow " style="width: 18rem; margin-left: 45px;margin-top: 20px ;position: relative;;">
<img [src]="pac[1].photo" class="card-img-top" style="max-width: 400px; height: 300px; object-fit: cover; border-radius: 8px;" alt="...">
<div class="card-body">
  <p style="font-weight: bold; position: absolute;color: white;top: 230px; font-family: 'Segoe UI';font-size: 30px; text-shadow: 2px 2px 5px black;"> {{pac[1].libelle}} </p>
  <p  class="badge bg-success" >-{{pac[1].poucentagePromo}}%</p><br>
  <div  >  
    <span style="font-size: 25px;font-weight: bold; color: rgb(20, 89, 168);"> {{prixApres(pac[1].prix,pac[1].poucentagePromo)}} DT </span>  <span style="text-decoration:line-through;color: rgb(95, 95, 95) ;" > {{pac[1].prix}} </span>   
    </div> 
  <br>
  <i class="fas fa-plane-departure"></i> date depart: {{pac[1].dateDep | date}}
 <!-- 

  
  
  <a [routerLink]="['/promo',t.id]" class="card-link"><button type="button" class="btn-hover color-6">Details</button></a>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
</div>



  
  

</div>




</div>

<!--3eme-->
<div class="col-3"  [routerLink]="['/promo',pac[2].id]" id="pack"  >

  <div class="card shadow " style="width: 18rem; margin-left: 45px;margin-top: 20px ;position: relative;;">
<img [src]="pac[2].photo" class="card-img-top" style="max-width: 400px; height: 300px; object-fit: cover; border-radius: 8px;" alt="...">
<div class="card-body">
  <p style="font-weight: bold; position: absolute;color: white;top: 230px; font-family: 'Segoe UI';font-size: 30px; text-shadow: 2px 2px 5px black;"> {{pac[2].libelle}} </p>
  <p  class="badge bg-success" >-{{pac[2].poucentagePromo}}%</p><br>
  <div  >  
    <span style="font-size: 25px;font-weight: bold; color: rgb(20, 89, 168);">{{prixApres(pac[2].prix,pac[2].poucentagePromo)}} DT </span>  <span style="text-decoration:line-through;color: rgb(95, 95, 95) ;" > {{pac[2].prix}} </span>   
    </div> 
  <br>
  <i class="fas fa-plane-departure"></i> date depart: {{pac[2].dateDep | date}}
 <!-- 

  
  
  <a [routerLink]="['/promo',t.id]" class="card-link"><button type="button" class="btn-hover color-6">Details</button></a>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
</div>



  
  

</div>




</div>

<!--4eme-->
<div class="col-3"  [routerLink]="['/promo',pac[3].id]" id="pack"  >

  <div class="card shadow " style="width: 18rem; margin-left: 45px;margin-top: 20px ;position: relative;;">
<img [src]="pac[3].photo" class="card-img-top" style="max-width: 400px; height: 300px; object-fit: cover; border-radius: 8px;" alt="...">
<div class="card-body">
  <p style="font-weight: bold; position: absolute;color: white;top: 230px; font-family: 'Segoe UI';font-size: 30px; text-shadow: 2px 2px 5px black;"> {{pac[3].libelle}} </p>
  <p  class="badge bg-success" >-{{pac[3].poucentagePromo}}%</p><br>
  <div  >  
    <span style="font-size: 25px;font-weight: bold; color: rgb(20, 89, 168);"> {{prixApres(pac[3].prix,pac[3].poucentagePromo)}} DT </span>  <span style="text-decoration:line-through;color: rgb(95, 95, 95) ;" > {{pac[3].prix}} </span>   
    </div> 
  <br>
  <i class="fas fa-plane-departure"></i> date depart: {{pac[3].dateDep | date}}
 <!-- 

  
  
  <a [routerLink]="['/promo',t.id]" class="card-link"><button type="button" class="btn-hover color-6">Details</button></a>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
</div>



  
  

</div>




</div>



 

</div>

</div>
